body {
  background-image:url(https://files.slack.com/files-tmb/T04735J22-F40MYSMST-f17f6b18ca/photo_1024.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#presentation_contents {
  height: 330px;
  width: 670px;
  background: #E9D09E;
  background-color:#E9D09E;
  border:10px solid #000000;
  padding:5px;
  /*arrondir les coins en haut à gauche et en bas à droite*/
  -moz-border-radius:10px 0;
  -webkit-border-radius:10px 0;
  border-radius: 20px 20px 20px / 20px 20px;
  margin-top: 11%;
  margin-left: 23%;
}

h1 {
  font-size: 12px;
}
h2 {
   font-size: 16px;
}
p {
   font-size: 16px;
