body {
  background-image:url(http://img11.hostingpics.net/pics/721591photo1024.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#date {
 width: 20%;
 height: auto;
  }

#presentation_bloc1 {
  width: 250px;
  height: 550px;
  background : white;
  margin-left: 78%;
  margin-top: 2%;
  overflow: visible;
  background: #F3E0C7;
  border:5px solid #000000;
  padding:5px;
  /*arrondir les coins en haut à gauche et en bas à droite*/
  -moz-border-radius:10px 0
  10px 10px;
  -webkit-border-radius:10px 0;
  border-radius: 20px 20px 20px / 20px 20px;;
  overflow-y: scroll;
  }

#presentation_contents {
  height: 400px;
  width: 850px;
  background: #F3E0C7;
  border:5px solid #000000;
  padding:5px;
  /*arrondir les coins en haut à gauche et en bas à droite*/
  -moz-border-radius:10px 0;

  -webkit-border-radius:10px 0;
  border-radius: 20px 20px 20px / 20px 20px;
  margin-top: -38%;
  margin-left: 05%;
  overflow-y: scroll;
}

h1 {
  font-size: 12px;
}
h2 {
   font-size: 16px;
}
p {
   font-size: 16px;
 }
